@font-face {
    font-display: swap;
    font-family: "Credit Card";
    src: url('./webfont.woff2') format('woff2'),
    url('./webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: monospace;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #444;
}

.card {
    position: relative;
    width: 472px;
    height: 300px;
    margin: 0 0 5em;
    border-radius: 13px;
    background: royalblue;
}

.card .number {
    font: 21px "Credit Card", monospace;
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    text-align: center;
    letter-spacing: .15em;
    word-spacing: .5em;
    color: #fff;
}

form {
    display: flex;
    justify-content: center;
}

input[name='number'],
button[id='copy-button'] {
    font-family: monospace;
    font-size: 20px;
    margin: 0;
    text-align: center;
    border: none;
}

input[name='number'] {
    margin: 0 0 .5rem;
    padding: .5em 0;
    border-radius: 7px 0 0 7px;
    background: #fff;
}

button[id='copy-button'] {
    width: 7em;
    padding: .5em 0;
    word-spacing: -.3em;
    color: #000;
    border-radius: 0 7px 7px 0;
    background: #ccc;
}

button[id='copy-button']:disabled {
    color: #666;
    background: #888;
}

.github a:visited,
.github a {
    display: inline-block;
    padding: .3em .6em;
    color: #ccc;
}

.github a:hover {
    text-decoration: dashed;
    color: #000;
    background-color: #999;
}
