@font-face {
    font-display: swap;
    font-family: "Credit Card";
    src:
        url("./webfont.woff2") format("woff2"),
        url("./webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: monospace;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #444;
}

/* number view */
.holder {
    --card-width: 472px;
    --github-icon-size: 3em;
    --github-icon-margin: calc(var(--card-width) * 0.03);

    display: flex;
    flex-direction: column;
    min-width: var(--card-width);

    @media screen and (max-width: 740px) {
        @media (max-aspect-ratio: 3/2) {
            padding: 0 2%;
            --card-width: 100%;
        }
        @media (min-aspect-ratio: 3/2) {
            --card-width: 200px;
        }
    }
}

.card {
    position: relative;
    height: calc(var(--card-width) * 0.6356%);
    padding: 63.56% 0 0;
    border-radius: 13px;
    background: royalblue;
    justify-self: stretch;

    .number {
        font:
            calc(var(--card-width) * 0.0445) "Credit Card",
            monospace;
        position: absolute;
        top: 57%;
        left: 0;
        width: 100%;
        text-align: center;
        letter-spacing: 0.15em;
        word-spacing: 0.5em;
        color: #fff;

        @media screen and (max-width: 740px) {
            @media (max-aspect-ratio: 3/2) {
                font-size: 4.4vw;
            }

            @media (min-aspect-ratio: 3/2) {
                font-size: calc(var(--card-width) * 0.055);
            }
        }
    }

    /* gitub link */
    .github {
        position: absolute;
        right: var(--github-icon-margin);
        bottom: var(--github-icon-margin);
        margin: 0;
        width: var(--github-icon-size);
        height: var(--github-icon-size);

        @media screen and (max-width: 740px) {
            @media (max-aspect-ratio: 3/2) {
                --github-icon-size: 8vw;
            }

            @media (min-aspect-ratio: 3/2) {
                --github-icon-size: 3em;
            }
        }

        svg {
            width: 100%;
            height: 100%;

            path {
                fill: rgba(255, 255, 255, 0.33);
                display: fit-content;
            }
            &:hover path {
                fill: rgba(255, 255, 255, 0.66);
            }
        }
    }
}

/* number input */
form {
    display: flex;
    justify-content: center;
    padding: 3em 0;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        width: 18em;
    }

    input[name="number"],
    button[id="copy-button"] {
        font-family: monospace;
        font-size: 20px;
        margin: 0;
        text-align: center;
        border: none;
    }

    input[name="number"] {
        padding: 0.5em 0;
        border-radius: 7px 0 0 7px;
        background: #fff;
    }

    button[id="copy-button"] {
        width: 7em;
        padding: 0.5em 0;
        word-spacing: -0.3em;
        color: #000;
        border-radius: 0 7px 7px 0;
        background: #ccc;

        &:disabled {
            color: #666;
            background: #888;
        }
    }

    @media screen and (max-width: 1024px) {
        input[name="number"] {
            width: 100%;
            border-radius: 7px 7px 0 0;
        }
        button[id="copy-button"] {
            width: 100%;
            border-radius: 0 0 7px 7px;
        }
    }
}
